<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Documentación Workflow</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#"> Gestión de Documentos PDF (Administración y Operación) </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/qasolutions.jpg&quot;);width: 150px;"></div><div class="about-me">
    <p>La aplicación de Gestión de Documentos PDF está desarrollada para almacenar documentos PDF y realizar búsquedas por los datos contenidos en estos.</p>


    <div class="about-me" style="text-align: left; margin: 5px; border: thin solid;">
        <div class="about-me" style="text-align: left; margin: 15px; font-size: small">
            <p>Resúmen funcional del módulo</p>
            <p>La aplicación tiene dos procesos principales</p>
            <p>1. Proceso de carga de documentos. Este se encarga de decodificar los PDF y almacenarlos en la base de datos</p>

            <p>2. Proceso de búsqueda de documentos. A partir atributos (Tipo de Documento, Número de Documento, Fecha, RUT) buca 
                documentos y permite su descarga
            </p>

        </div>
    
    </div>


    
</div>
            </div>

    <section class="portfolio-block skills"></section>

    <div class="row" style="text-align: left; margin: 20px;">
        <p>
            A continuación se describe el uso de cada una de las opciones de la aplicación.
        </p>
    </div>


    <div class="row" style="text-align: left; margin: 15px;">
        <h2>
            Administración
        </h2>
    </div>

    <div class="row" style="text-align: left;">
        <h2>

        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Areas
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Se adminstran las áreas. El sistema segmenta el acceso a los documentos según el área que se le asigna al usuario.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>Para agregar áreas se utiliza el botón "Nueva Area" y 
                    para modificarla con el botón "modificar". 
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Areas.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Areas.ogg">
                </source>
            </video>
        </div>
    </div>




    <div class="row" style="text-align: left;">
        <h2>

        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Usuarios
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Se adminstran los usuarios de la aplicación.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>Para agregar usuarios se utiliza el botón "Nuevo Usuario" y 
                    para modificarlo con el botón "modificar". 
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Usuarios.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Usuarios.ogg">
                </source>
            </video>
        </div>
    </div>


    <div class="row" style="text-align: left;">
        <h2>
    
        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Aplicaciones
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Registra la ruta REST de las aplicaciones. 
                    Esto se utiliza por el equipo de desarrollo para habilitar las aplicaciones y luego controlar
                    los privilegios de un usuario.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>
                    Uso por desarrollo
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Aplicaciones.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Aplicaciones.ogg">
                </source>
            </video>
        </div>
    </div>



    <div class="row" style="text-align: left;">
        <h2>

        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Privilegios
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Sirve para definir a qué aplicaciones tiene acceso cada usuario</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>Seleccione el usuario y asigne sus privilegios. Se recomienda tener sólo al usuario
                    admin con permisos para administrar los usuarios-apliciones-privilegios. 
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Privilegios.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Privilegios.ogg">
                </source>
            </video>
        </div>
    </div>



    <div class="row" style="text-align: left; margin: 15px;">
        <h2>
            Operación
        </h2>
    </div>



    <div class="row" style="text-align: left;">
        <h2>

        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Carga de Documentos
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Permite la carga de uno o más documentos PDF</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>
                    Presione botón "Nuevo Documento", luego "Elegir Archivos" una vez seleccionados, Presione
                    "Importar". Se debe considerar un tiempo de procesamiento de alrededor de 20 segundos por 
                    documento. Al finalizar mostrara los archivos cargados como una lista. Dentro de esta lisa, al
                    presionar el botón "..." Se muestran los datos que se pudieron rescatar desde el documento.
                    Para eliminar el documento cargado está el botón "Eliminar". Durante la carga y sólo para los documentos "Factura"
                    y "Guía" y teniendo la factibilidad de extraer el tipo y número de documento se hace un chequeo de 
                    duplicidad donde el usuario puede elegir con qué vesión del documento se quedara.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Carga.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Carga.ogg">
                </source>
            </video>
        </div>
    </div>



    
    <div class="row" style="text-align: left;">
        <h2>

        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Reporte Carga de Documentos
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Entrega un detalle de los documentos cargados por el area del usuario y su descarga a excel</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>
                    Indique le rango de fechas y presione "Procesar"

                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Reporte.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Reporte.ogg">
                </source>
            </video>
        </div>
    </div>



    
    <div class="row" style="text-align: left;">
        <h2>

        </h2>
    </div>
    <div class="row" style="text-align: left;">
        <h4>
            Búsqueda y Descarga
        </h4>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-lg-4">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: small;">
                <p>Permite buscar y descargar un documento</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 zoom-on-hover">
            <div class="about-me" style="text-align: left; margin: 5px; font-size: x-small;">
                <p>
                    Indique algún criterio de búsqueda, presione "Buscar", presione "Descargar"

                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <video width="311" height="252" controls>
                <source type="video/mp4" src="/assets/videos/Busqueda.mp4">
                </source>
                <source type="video/ogg" src="/assets/videos/Busqueda.ogg">
                </source>
            </video>
        </div>
    </div>




<section class="portfolio-block skills"></section>

</div></section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Diseño Web</h3>
                                <p class="card-text">QSoluciones. Tecnología Bootstrap con NodeJs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Diseño de Interfaces</h3>
                                <p class="card-text">QSoluciones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Video y Fotografía</h3>
                                <p class="card-text">QSoluciones.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Website Project</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <footer class="page-footer">
        <div class="container">
            <!-- <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div> -->
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>